.cookie_image {
  background-image: url(../../assets/cookie.png);
  width: 320px;
  height: 320px;
}


#rabbit {
  width: 100px;
  height: 100px;
}

#divineDogs {
  width: 150px;
  height: 170px;
}

#teslaUpgradeID {
  width: 150px;
  height: 150px;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}