.cookie_image{
    background-image: url(../../assets/cookie.png);
    width: 320px;
    height: 320px;
}


#rabbit{
    width: 100px;
    height: 100px;
}

#divineDogs{
    width: 150px;
    height: 170px;
}

#teslaUpgradeID{
    width: 150px;
    height: 150px;
}




.clickersZone{
    background-color: grey;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
