body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.smeechyTitle{
    font-size: 100px;
    color: blue;
    text-align:center;
}

.peachButton{
    background-size: cover; 
    height: auto;
    width: auto;
}

.peachButton button{
    background-image: url(https://picsum.photos/400/400);
    height: 200px;
    width: 200px;
}

