body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: slategray;
}

.smeechyTitle{
    font-size: 100px;
    color: blue;
    text-align:center;
}

.peachButton{
    background-size: cover; 
    height: auto;
    width: auto;
}


.buttonContainer{
    width: auto;
}

.buttonContainer button{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
}

.topText{
    font-size: 80px;
}

.headerContainer{
    margin-bottom: 50px;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
