body{
    color: black;
}

header{
    font-size: 50px;
}

.dataWrapper{
    display: flex;
    background-color: yellow;
    justify-content: space-evenly;
    height: 400px;
}

.dataWrapper h1{
    width: 100%;

}

.displayCookies{
    color: white;
}

.item-1{
    background-color: aqua;
    padding-left: 20%;
}

.item-2{
    padding-left: 20%;
    background-color: navy;

}

.item-3{
    flex-grow: 1;
}
