.upgrade-container{
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 250px;
    
}

.upgrade-container img{
    padding-top: 10px;
}

.total-upgrade-container{
    margin-left: 20%;
    margin-right: 20%;
    overflow-y:auto;
    height: 1000px;
    border-left: solid;
    border-right: solid;
    border-top: solid;
}



.upgrade-button{
    flex: 0 0 15%; 
}

.upgrade-button img{
    height:150px;
    width: 150px;
}

.upgrade-zone{
    flex: 0 0 85%; 
}